<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lsj.weblog.admin.mapper.ArticleDetailMapper">

    <resultMap id="BaseResultMap" type="com.lsj.weblog.admin.model.entity.ArticleDetail">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="articleId" column="article_id" jdbcType="BIGINT"/>
        <result property="content" column="content" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        ,article_id,content
    </sql>

    <select id="selectId" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tb_article_detail
        where id = #{id,jdbcType=BIGINT}
    </select>

    <delete id="deleteById" parameterType="java.lang.Long">
        delete
        from tb_article_detail
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.lsj.weblog.admin.model.entity.ArticleDetail"
            useGeneratedKeys="true">
        insert into tb_article_detail
            (article_id, content)
        values (#{articleId,jdbcType=BIGINT}, #{content,jdbcType=VARCHAR})
    </insert>

    <update id="updateById" parameterType="com.lsj.weblog.admin.model.entity.ArticleDetail">
        update tb_article_detail
        <set>
            <if test="articleId != null">
                article_id = #{articleId,jdbcType=BIGINT},
            </if>
            <if test="content != null">
                content = #{content,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

</mapper>
