<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lsj.weblog.admin.mapper.TagMapper">

    <resultMap id="BaseResultMap" type="com.lsj.weblog.admin.model.entity.Tag">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        ,name,create_time,
        update_time
    </sql>

    <select id="selectById" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tb_tag
        where id = #{id,jdbcType=BIGINT}
    </select>
    <select id="selectByNames" resultMap="BaseResultMap"
    >
        select
        <include refid="Base_Column_List"/>
        from tb_tag
        <where>
            <foreach collection="names" item="item" open="name in (" separator="," close=")">
                #{item}
            </foreach>
        </where>
    </select>

    <select id="selectPageByCondition" resultMap="BaseResultMap"
            parameterType="com.lsj.weblog.admin.model.dto.FindTagPageReqDto">
        select
        <include refid="Base_Column_List"/>
        from tb_tag
        <where>
            <choose>
                <when test="id != null">
                    and id = #{id}
                </when>
                <otherwise>
                    <if test="name != null and name != '' ">
                        and name like concat('%',#{name,jdbcType=VARCHAR},'%')
                    </if>
                    <if test="startDate != null and endData != null">
                        and create_time &gt;= #{startDate,jdbcType=TIMESTAMP}
                        and create_time &lt;= #{endData,jdbcType=TIMESTAMP}
                    </if>
                </otherwise>
            </choose>
        </where>
        order by create_time desc
    </select>
    <select id="selectListByName" resultMap="BaseResultMap"
            parameterType="com.lsj.weblog.admin.model.dto.SearchTagReqDto">
        select
        <include refid="Base_Column_List"/>
        from tb_tag
        where name like concat('%',#{name,jdbcType=VARCHAR},'%')
        order by create_time desc
    </select>
    <select id="selectList" resultMap="BaseResultMap">

        select
        <include refid="Base_Column_List"/>
        from tb_tag

    </select>

    <delete id="deleteById" parameterType="java.lang.Long">
        delete
        from tb_tag
        where id = #{id,jdbcType=BIGINT}
    </delete>

    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.lsj.weblog.admin.model.entity.Tag"
            useGeneratedKeys="true">
        insert into tb_tag
            (name)
        values (#{name,jdbcType=VARCHAR})
    </insert>

    <insert id="insertBatch" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
        insert into tb_tag
        (name)
        values
        <foreach collection="records" item="item" separator=",">
            (#{item.name,jdbcType=VARCHAR})
        </foreach>
    </insert>

    <update id="updateById" parameterType="com.lsj.weblog.admin.model.entity.Tag">
        update tb_tag
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

</mapper>
